{% extends 'base.html' %} {% load static %} {% block content %}
<section class="thematic-section">
  <div class="thematic-layout">
    <div class="thematic-text">
      <h2 class="thematic-title">THEMATIC WORK GROUPS</h2>
      <hr class="thematic-divider" />
      <p class="thematic-description">
        Each of the TWGs will present a report to the main plenary for
        resolution and adoption. The TWGs will begin their work months prior to
        the Conference and develop abstract concepts for adoption by the main
        plenary in Lusaka. The conference will therefore work on the back to
        front model strategized around the following TWGs:
      </p>
      <ol class="thematic-list">
        <li>The Constitution/Proclamation Act</li>
        <li>Democracy and Good Governance</li>
        <li>Structure and Systems of Governance</li>
        <li>The Diaspora Citizenship of Africa</li>
        <li>The Afriq as Africa’s Virtual Currency</li>
        <li>The Virtual State of Africa</li>
        <li>The Pan-African Fund for Political Parties</li>
        <li>Africa’s Sustainable Development Goals</li>
        <li>Commodities, Trade & Investments</li>
        <li>Immediate Measures to Protect African Lives</li>
      </ol>
    </div>
    <div class="thematic-image">
      <img
        src="{% static 'images/afric1.png'%}"
        alt="Map of Africa with flags"
      />
    </div>
  </div>
</section>

<!-- Wrapper div around the section to control alignment -->
<div class="centered-section-wrapper">
  <div id="expected-outcome">
    <h2 id="expected-outcome-title">THE EXPECTED OUTCOME</h2>
    <p id="expected-outcome-content">
      As an historic epoch of our human endeavor and as Africa’s freedom writers
      of the 21st Century, the people will, at this conference: proclaim the
      STATE OF AFRICA by themselves and establish its interim government and
      governance structure; elect a leadership proviso by an open and
      transparent one-man-one-vote virtual system through which millions of the
      people of Africa aged 16 years and above will take part in the virtual
      vote that will establish the government of Africa. The conference will
      also reverse the result of the ill-intended 1884 Berlin Conference which
      set the stage for full African colonialism and thus the need for
      reparations, by creating a federation towards a federal state. It is,
      thus, set forth here upon us, that in our aspiration and in full
      recognition of our value for human freedom, dignity, and the exercise
      thereof, of our right to self-determination, that we the people take
      responsibilities for the construction of ONE NATION AND STATE OF AFRICA
      will, by all peaceful and democratic means, be established at this
      Conference.
    </p>
    <p id="expected-outcome-content">
      Our action will include among many other things, the craft of the next
      steps to achieving all the goals thereby prescribed by the Conference on
      all other matters including the need for Africa to create an OVERSEAS
      CITIZEN CARD—similar to that of India as a way of strengthening Africa in
      skills transfer and investments, on one hand, and on the other, illuminate
      THE RIGHT TO RETURN TO THE MOTHERLAND FOR ALL AFRICANS, especially victims
      of colonial slavery. This includes the Caribbean countries’ right to take
      part in Africa’s matters. Another anticipated outcome at this conference
      will be the adoption of the Africa Sustainable Development Goals to attend
      to both our natural world and socio-economic endeavours.
    </p>
  </div>
</div>

{% endblock %}
